<mybatislint-rules>
    <rule>
        <key>MyBatisMapperCheckRule1</key>
        <name>select statement should not include 1=1</name>
        <internalKey>MyBatisMapperCheckRule1</internalKey>
        <description>select statement should not include 1=1, it is a useless code and bad practice, suggest removing
            it.
        </description>
        <severity>MINOR</severity>
        <cardinality>SINGLE</cardinality>
        <status>READY</status>
        <type>BUG</type>
        <tag>mybatis</tag>
        <tag>select</tag>
        <remediationFunction>CONSTANT_ISSUE</remediationFunction>
        <remediationFunctionBaseEffort>20min</remediationFunctionBaseEffort>
    </rule>
    <rule>
        <key>MyBatisMapperCheckRule2</key>
        <name>update statement should not include 1=1</name>
        <internalKey>MyBatisMapperCheckRule2</internalKey>
        <description>update statement should not include 1=1, it is a useless code and bad practice, suggest removing
            it.
        </description>
        <severity>MAJOR</severity>
        <cardinality>SINGLE</cardinality>
        <status>READY</status>
        <type>BUG</type>
        <tag>mybatis</tag>
        <tag>update</tag>
        <remediationFunction>CONSTANT_ISSUE</remediationFunction>
        <remediationFunctionBaseEffort>20min</remediationFunctionBaseEffort>
    </rule>
    <rule>
        <key>MyBatisMapperCheckRule3</key>
        <name>delete statement should not include 1=1</name>
        <internalKey>MyBatisMapperCheckRule3</internalKey>
        <description>delete statement should not include 1=1, it is a useless code and bad practice, suggest removing
            it.
        </description>
        <severity>CRITICAL</severity>
        <cardinality>SINGLE</cardinality>
        <status>READY</status>
        <type>BUG</type>
        <tag>mybatis</tag>
        <tag>delete</tag>
        <remediationFunction>CONSTANT_ISSUE</remediationFunction>
        <remediationFunctionBaseEffort>20min</remediationFunctionBaseEffort>
    </rule>
    <rule>
        <key>MyBatisMapperCheckRule4</key>
        <name>where condition not found in select statement</name>
        <internalKey>MyBatisMapperCheckRule4</internalKey>
        <description>If all parameters in the update statement of Mapper XML file are null,
            the sql will not have where condition, then it will select all records from the table, which may lead to
            performance issues. Suggest using simple parameters instead of elements (such as:
            if,choose,when,otherwise,trim,where,set,foeeach elemnt etc.) for required parameters.
        </description>
        <severity>MINOR</severity>
        <cardinality>SINGLE</cardinality>
        <status>READY</status>
        <type>BUG</type>
        <tag>mybatis</tag>
        <tag>select</tag>
        <remediationFunction>LINEAR</remediationFunction>
        <remediationFunctionGapMultiplier>20min</remediationFunctionGapMultiplier>
    </rule>
    <rule>
        <key>MyBatisMapperCheckRule5</key>
        <name>where condition not found in update statement</name>
        <internalKey>MyBatisMapperCheckRule5</internalKey>
        <description>If all parameters in the update statement of Mapper XML file are null,
            the sql will not have where condition, then it will update all records from the table, which will result
            production accident. Suggest using simple parameters instead of elements (such as:
            if,choose,when,otherwise,trim,where,set,foeeach elemnt etc.) for required parameters.
        </description>
        <severity>MAJOR</severity>
        <cardinality>SINGLE</cardinality>
        <status>READY</status>
        <type>BUG</type>
        <tag>mybatis</tag>
        <tag>update</tag>
        <remediationFunction>LINEAR</remediationFunction>
        <remediationFunctionGapMultiplier>20min</remediationFunctionGapMultiplier>
    </rule>
    <rule>
        <key>MyBatisMapperCheckRule6</key>
        <name>where condition not found in delete statement</name>
        <internalKey>MyBatisMapperCheckRule6</internalKey>
        <description>If all parameters in the delete statement of Mapper XML file are null,
            the sql will not have where condition, then it will delete all records from the table, which will result
            production accident. Suggest using simple parameters instead of elements (such as:
            if,choose,when,otherwise,trim,where,set,foeeach elemnt etc.) for required parameters.
        </description>
        <severity>CRITICAL</severity>
        <cardinality>SINGLE</cardinality>
        <status>READY</status>
        <type>BUG</type>
        <tag>mybatis</tag>
        <tag>delete</tag>
        <remediationFunction>LINEAR</remediationFunction>
        <remediationFunctionGapMultiplier>20min</remediationFunctionGapMultiplier>
    </rule>
    <rule>
        <key>MyBatisMapperCheckRule7</key>
        <name>select statement should not include *</name>
        <internalKey>MyBatisMapperCheckRule7</internalKey>
        <description>select statement should not include *, it is not a bad practice, suggest using specific fields.
        </description>
        <severity>MINOR</severity>
        <cardinality>SINGLE</cardinality>
        <status>READY</status>
        <type>BUG</type>
        <tag>mybatis</tag>
        <tag>select</tag>
        <remediationFunction>LINEAR</remediationFunction>
        <remediationFunctionGapMultiplier>10min</remediationFunctionGapMultiplier>
    </rule>
</mybatislint-rules>
